{{ define "header" }}
   {{/* We can override any block in the baseof file be defining it in the template */}}
  {{ partial "page-header.html" . }}
{{ end }}

{{ define "main" }}
  {{ $section := .Site.GetPage "section" .Section }}
  <article>
	  {{ partial "article-header.html" . }}

	{{ if .Params.featured_image_credit }}
	<aside class = "featuredImageCredit">
		Featured image by <a href = "{{ .Params.featured_image_url }}">{{ .Params.featured_image_credit }}</a>
	</aside>
	{{ end }}
    <div>
      {{- .Content -}}
      {{- partial "tags.html" . -}}
      <div>
      {{ if .Site.DisqusShortname }}
        {{ template "_internal/disqus.html" . }}
      {{ end }}
      {{ if .Site.Params.commentoEnable }}
        {{- partial "commento.html" . -}}
      {{ end }}
      </div>
    </div>

    <aside>
      {{- partial "menu-contextual.html" . -}}
    </aside>

  </article>

  {{ if .Params.Medium }}
  <aside>
  <p>This article is also published on <a href = "{{ .Params.Medium }}">Medium.com</a>.</p>
  </aside>
  {{ end }}

{{ end }}
